<!DOCTYPE html>
<html>
<head>
	<title>个人博客-分类列表</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/Public/Css/H-ui.reset.css">
	<link rel="stylesheet" type="text/css" href="/Public/Css/index.css">
	<link rel="stylesheet" type="text/css" href="/Public/Css/hui-icon/iconfont.css">
</head>
<body>

<?php include('View/_header.html'); ?>

<!-- 页面主体 -->
<div id="main_body" class="wrapper cl">
	<?php include('View/_menu.html'); ?>
	<div id="page-content">
		<table class="data-list">
			<tr>
				<th>分类名称</th>
				<th width="90">操作</th>
			</tr>
			<?php foreach($data as $v): ?>
			<tr>
				<td><?=$v['cat_name']?></td>
				<td>
					<a href="<?=\TzlPHP\Url::U('edit?id='.$v['id'])?>">修改</a>
					<a onclick="return confirm('确定要删除吗？');" href="<?=\TzlPHP\Url::U('delete?id='.$v['id'])?>">删除</a>
				</td>
			</tr>
			<?php endforeach; ?>
		</table>
		<?=$pageRet['pageString']?>
	</div>
</div>

<?php include('View/_footer.html'); ?>